@font-face{
    font-family: "Poppins";
    src: url("../fonts/Poppins-Light.woff2") format("woff2");
    font-weight: 300;
    font-style:normal;
    font-display:swap;

}
@font-face{
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style:normal;
    font-display:swap;
  
}
@font-face{
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 700;
    font-style:normal;
    font-display:swap;
}
@font-face{
    font-family: "Barox";
    src: url("../fonts/Barox-DemoVersion-Regular.woff2") format("woff");
    font-weight: 400;
    font-style:normal;
    font-display:swap;
}
